/* =======================================================
    FILE:   NAVBAR.COMPONENT.CSS
    AUTHOR: Zaine Kingi
    VER:    1.0
    DATE:   13-7-17
    DESC:   Navbar component stylesheet for the application.
    ......................................................
            CHANGE LOG
    ------------------------------------------------------
    DATE:   VER:    CHANGES:
    ------------------------------------------------------
    13-7-17 1.0     Initial release.
    ---------------------------------------------------- */

/* Mobile first styling */

/* Base styling */
nav {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 40px;
  margin: 0;
  background: #000;
}
.navbar-head {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #000;
  height: 40px;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: none;
}
.nav-logo {
  display: block;
  height: 40px;
  padding-top: 5px;
}
.ham {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
}
.ham:hover {
  background: #1e1e1e;
}
.navbar-icon {
  display: block;
  width: 25px;
  border-top: 3px solid yellow;
  margin: 5px 0;
  border-radius: 5px;
}

/* Navbar links */
.nav {
  background: #000000;
  width: 100%;
  height: 300px;
  position: absolute;
  top: -300px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}
.nav-items {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 5px;
  width: 100%;
  text-align: right;
  overflow: hidden;
  padding: 0;
  border-top: 1px groove yellow;
}
.nav-items li {
  display: block;
  width: 100%;
  height: 75px;
  background: none;
  border-bottom: 1px groove yellow;
  transition: background .2s ease-in-out;
  -webkit-transition: background .2s ease-in-out;
  -moz-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
}
.nav-items li:hover {
  background: #1e1e1e;
}
.nav-items li a {
  display: block;
  padding-right: 15px;
  color: yellow;
  font-family: "Avenir", 'Open Sans', arial, sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: lighter;
  line-height: 8rem;
  text-transform: none;
}

@media screen and (min-width: 768px) {
  nav {
    width: 75px;
    height: 100%;
    background: #1e1e1e;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0;
  }
  .navbar-head {
    background: #1e1e1e;
    position: relative;
    height: 100%;
    width: 75px;
  }
  .nav-logo {
    margin: 15px 20px;
  }
  .ham {
    top: 50%;
    left: 15%;
    height: 35px;
    padding-top: 17px;
  }
  .ham:hover {
    background: #000000;
  }
  .navbar-icon {
    margin-top: 0;
    transform: rotate(90deg);
  }
  .ham li:nth-child(2) {
    margin-top: -8px;
  }
  .ham li:nth-child(1) {
    margin-left: 10px;
  }

  /* navbar links */
  .nav {
    background: #1e1e1e;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    height: 100%;
  }
  .nav-items {
    top: 25%;
  }
  .nav-items li {
    padding: 0 5% 0 0;
  }
  .nav-items li:hover {
    background: #000000;
  }
  .nav-items li a {
    padding: 0;
    margin: 0;
  }
  .active {
    color: #fff;
    background: #000;
  }
}
