<nav>
  <div class="navbar navbar-head">
    <a [routerLink] = "['/']"><img src="../../../assets/imgs/zk-logo/zk-logo.png" alt="logo" class="nav-logo"></a>
    <ul class="ham">
      <li><span class="navbar-icon"></span></li>
      <li><span class="navbar-icon"></span></li>
    </ul>
  </div>
  <div class="nav">
    <ul class="nav-items">
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/']">Start here.</a></li>
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/about']">About me.</a></li>
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/work']">Work.</a></li>
      <li [routerLinkActive] = "['active']" [routerLinkActiveOptions] = "{exact:true}"><a [routerLink] = "['/contact']">Contact me.</a></li>
    </ul>
  </div>
</nav>
