<div class="main-container">
  <div class="top-section col-sm-12 black">
    <div class="heading font-light text-yellow font-italic">My work.</div>
  </div>

  <!-- Inspirational quote -->
  <div class="section pad-35 charcoal overlay-25 col-sm-12 col-md-6">
    <div class="container">
      <span class="quote text-yellow">People will forget what you said, and what you did, but will never forget the way you made them feel.</span>
      <div class="credits"><span class="text-yellow text-right font-light font-italic">Maya Angelou</span></div>
    </div>
  </div><!-- /.section -->

  <!-- Work component - white -->
  <div class="wrk-component col-sm-12">
    <div class="img-container col-sm-12 col-md-6 text-center">
      <img src="../../../assets/imgs/work/print-copy/photographic-services.png" srcset="../../../assets/imgs/work/print-copy/photographic-services.png 1x, ../../../assets/imgs/work/print-copy/photographic-services@2x.png 2x, ../../../assets/imgs/work/print-copy/photographic-services@3x.png 3x" alt="Warehouse Stationery Print & Photographic services.">
    </div><!-- Parallax image -->
    <div class="wrk-text col-sm-12 col-md-6">
      <span class="wrk-title text-char font-3 font-italic">
        Print & Photographic Services
      </span>
      <div class="mar-top-15 font-1-8">
        <p>Client: Warehouse Stationery</p>
        <p>Year: 2017</p>
      </div>
      <a [routerLink]="['/work/print-copy']" class="zk-btn zk-btn-prim">View project</a>
    </div>
  </div><!-- END: Work component - white -->

  <!-- Work component - black -->
  <div class="wrk-component col-sm-12 black">
    <div class="wrk-text col-sm-12 col-md-6">
      <span class="wrk-title text-white font-3 font-italic">
        School List Mobile UX Prototype
      </span>
      <div class="mar-top-15 font-1-8 text-white">
        <p>Client: Warehouse Stationery</p>
        <p>Year: 2015</p>
      </div>
      <a [routerLink]="['/work/school-list']" class="zk-btn zk-btn-prim-inverse">View project</a>
    </div>
    <div class="img-container col-sm-12 col-md-6">
      <img src="../../../assets/imgs/work/school-list/school-list.png" srcset="../../../assets/imgs/work/school-list/school-list.png 1x, ../../../assets/imgs/work/school-list/school-list@2x.png 2x, ../../../assets/imgs/work/school-list/school-list@3x.png 3x" alt="Me">
    </div><!-- /.img-container -->
  </div><!-- END: Work component - black -->

  <!-- Work component - white -->
  <div class="wrk-component col-sm-12">
    <div class="img-container col-sm-12 col-md-6 text-center">
      <img src="../../../assets/imgs/work/tcs/tcs-homepage.jpg" srcset="../../../assets/imgs/work/tcs/tcs-homepage.jpg 1x, ../../../assets/imgs/work/tcs/tcs-homepage@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-homepage@3x.jpg 3x" alt="Timber Construction Solutions website design.">
    </div><!-- Parallax image -->
    <div class="wrk-text col-sm-12 col-md-6">
      <span class="wrk-title text-char font-3 font-italic">
        Timber Construction Solutions
      </span>
      <div class="mar-top-15 font-1-8">
        <p>Client: BizForce</p>
        <p>Year: 2014</p>
      </div>
      <a [routerLink]="['/work/tcs']" class="zk-btn zk-btn-prim">View project</a>
    </div>
  </div><!-- END: Work component - white -->

</div>
