<div class="main-container">

  <div class="section">
    <div class="col-sm-12 col-md-6 mar-top-100">
      <div class="heading font-light font-italic"><h1>Warehouse Stationery Print & Photographic Services</h1></div>
      <ul>
        <li><span class="font-bold">Technical stack:</span></li>
        <li class="list">HTML</li>
        <li class="list">CSS</li>
        <li class="list">inVision</li>
        <li class="list">Photoshop</li>
      </ul>
      <div class="wrk-title font-2-5 font-light mar-top-50">Problem</div>
      <p class="mar-top-10">Warehouse Stationery provide a printing service which was only offered in store. With the recent launch of the new webstore, promoting the print and photographic services online and providing online customers with the information about the services was needed.</p>
      <p>Providing the user with a quick and easy way to navigate and find information was the challenge faced with when tasked to implementing the service.</p>
      <span class="content-border border-char border-right"></span>
    </div><!-- END: text container -->

    <div class="col-sm-12 col-md-6 img-container text-center">
      <img src="../../../assets/imgs/work/print-copy/photo-copy-prototype.gif" alt="Print and Photographic">
    </div><!-- /.img-container -->
  </div><!-- /.problem -->

  <!-- Work component - background image -->
  <div class="wrk-component col-sm-12 users-bg parallax">
    <span class="img-overlay">
      <div class="wrk-text col-sm-12 col-md-6 text-white">
        <div class="wrk-title font-2-5 font-light">The Users</div>
        <p class="mar-top-10">Based off customer transactional data and sales both in store and online, the main user which we would have the most uptake from this service would be our small to medium business customers.</p>
        <p>These users are large consumers of print and copy paper, printers, ink, toners and presentation supplies, and would benefit most from the print and photographic services information being available online.</p>
        <span class="content-border border-white border-right"></span>
      </div><!-- END: text container -->
    </span><!-- /.img-overlay -->
  </div><!-- END: Work component - background image -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12">
    <div class="wrk-text col-sm-12 col-md-6">
      <div class="wrk-title font-2-5 font-light">Process</div>
      <p class="mar-top-10">The first step was to consolidate all the information we had about the print and photographic services. Consulting with the category manager was done throughout the process to ensure the information was accurate and up to date.</p>
      <p>Once all the information was organised and categorised, understanding how and why the user would interact with the information was required. A series of sketches and wireframes were produced and refined to provide a clear picture of the final design of the user journey.</p>
      <span class="content-border border-char border-right"></span>
    </div><!-- END: text-container -->

    <div class="col-sm-12 col-md-6 img-container text-center">
      <img src="../../../assets/imgs/wireframes.jpg" srcset="../../../assets/imgs/wireframes-min.jpg 1x, ../../../assets/imgs/wireframes@2x-min.jpg 2x, ../../../assets/imgs/wireframes@3x-min.jpg 3x" alt="Website wireframes and prototyping.">
    </div><!-- /.img-container -->
  </div><!-- END: Work component -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12 black">
    <div class="wrk-text col-sm-12 col-md-6 text-white">
      <div class="wrk-title font-2-5 font-light">Solution</div>
      <p class="mar-top-10">The final design included a tabbed navigation system for the level 2 categories, allowing the user to quickly and easily switch between the two categories and view the services of each.</p>
      <p>Providing the user with a high level overview of each service and performing actions without having to click into the service. Each service links to a information landing with detailed information about the service, options, pricing and either an action to purchase online or find your nearest store.</p>
      <span class="content-border border-white border-right"></span>
    </div><!-- END: text-container -->
    <div class="col-sm-12 col-md-6 img-container text-center">
      <img src="../../../assets/imgs/work/print-copy/photographic-services.png" srcset="../../../assets/imgs/work/print-copy/photographic-services.png 1x, ../../../assets/imgs/work/print-copy/photographic-services@2x.png 2x, ../../../assets/imgs/work/print-copy/photographic-services@3x.png 3x" alt="Warehouse Stationery Print & Photographic services.">
    </div><!-- /.img-container -->
  </div><!-- END: Work component -->

  <div class="collage text-left">
    <img src="../../../assets/imgs/work/print-copy/print-photo-masonry-min.jpg" srcset="../../../assets/imgs/work/print-copy/print-copy-masonry-min.jpg 1x, ../../../assets/imgs/work/print-copy/print-copy-masonry@2x-min.jpg 2x, ../../../assets/imgs/work/print-copy/print-copy-masonry@3x-min.jpg 3x" alt="Warehouse Stationery Print & Photographic services designs.">
  </div><!-- /.img-container -->

</div><!-- /.main-container -->
