<div class="main-container">
  <div class="top-section col-sm-12 black">
    <div class="heading font-light text-yellow font-italic">About me.</div>
  </div><!-- /.top-section -->

  <!-- Small intro about myself -->
  <div class="section charcoal pad-35 overlay-25 col-sm-12 col-md-6">
    <div class="container">
      <span class="quote text-yellow">People will forget what you said, and what you did, but will never forget the way you made them feel.</span>
      <div class="credits text-yellow"><span class="text-right font-light font-italic">Maya Angelou</span></div>
    </div>
  </div><!-- /.section -->

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 portrait my-md-auto">
        <img src="../../../assets/imgs/me.png" srcset="../../../assets/imgs/me.png 1x, ../../../assets/imgs/me@2x.png 2x, ../../../assets/imgs/me@3x.png 3x" alt="The happy UXer" title="The happy UXer">
      </div>
      <div class="col-sm-12 col-md-6 my-md-auto">
        <span class="content-border border-char"></span><!-- Paragraph text top border -->
        <span class="font-light">
        <p>Hey there, <span class="font-italic font-bold">I'm Zaine</span> an illustrator, designer and web developer with the skill set and talent to produce meaningful and engaging digital experiences. In my works I always try to combine aesthetic with functional aspects, looking for the right balance to communicate without annoying.</p>
        <p>Successful design in my opinion should be attractive yet easy to read, communicate a fascinating message, together with an immediate understanding.</p>
      </span>
      </div>
    </div>
    </div>

  <!-- Qualifications -->
  <div class="section col-sm-12">
    <div class="section-heading"><h2>Qualifications.</h2></div>
    <div class="container">
      <div class="row font-light">
        <ul class="col-sm-12 col-md-6">
          <li class="list">Bachelor of Applied Science<br><span class="font-italic font-1-1">completed 2014 at Yoobee School of Design and The Open Polytechnic New Zealand.</span></li>
          <li class="list">Level 6 Diploma in Web Development<br><span class="font-italic font-1-1">completed 2012 at Natcoll Design Technology.</span></li>
        </ul>
        <ul class="col-sm-12 col-md-6">
          <li class="list">Level 6 Diploma in Computer Graphic Design<br><span class="font-italic font-1-1">completed 2011 at Natcoll Design Technology.</span></li>
          <li class="list">Level 3 Certificate in Digital Media<br><span class="font-italic font-1-1">completed 2010 at Natcoll Design Technology.</span></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- My skills section -->
  <div class="section col-sm-12">
    <div class="section-heading"><h2>Skills & experience.</h2></div>
    <div class="container">
      <ul class="row my-auto">
        <li class="col-xs-12 col-md-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/html-icon.png" srcset="../../../assets/imgs/icons/html-icon.png 1x, ../../../assets/imgs/icons/html-icon@2x.png 2x, ../../../assets/imgs/icons/html-icon@3x.png 3x" alt="HTML skills" class="skill-icn">
          <h3>HTML</h3>
          <!--<p>Fluent and confident in writing compliant HTML and HTML5 standard code from scratch. First introduced to web development and HTML in 2010 and have been practicing and expanding my knowledge since.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
        <li class="col-xs-12 col-md-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/css-icon.png" srcset="../../../assets/imgs/icons/css-icon.png 1x, ../../../assets/imgs/icons/css-icon@2x.png 2x, ../../../assets/imgs/icons/css-icon@3x.png 3x" alt="CSS skills" class="skill-icn">
          <h3>CSS</h3>
          <!--<p>Fluent and confident in writing CSS and CSS3 code from scratch as well as utilising frameworks such as Bootstrap and pre-processors such as SASS and LESS.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
        <li class="col-xs-12 col-md-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/js-icon.png" srcset="../../../assets/imgs/icons/js-icon.png 1x, ../../../assets/imgs/icons/js-icon@2x.png 2x, ../../../assets/imgs/icons/js-icon@3x.png 3x" alt="JavaScript skills" class="skill-icn">
          <h3>JavaScript</h3>
          <!--<p>Introduced to the JavaScript language in 2010, I am confident in writing vanilla JavaScript from scratch and am an active member within the local JavaScript community.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
        <li class="col-xs-12 col-md-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/ng-icon.png" srcset="../../../assets/imgs/icons/ng-icon.png 1x, ../../../assets/imgs/icons/ng-icon@2x.png 2x, ../../../assets/imgs/icons/ng-icon@3x.png 3x" alt="NodeJS skills" class="skill-icn">
          <h3>AngularJS</h3>
          <!--<p>AngularJS was one of the JavaScript frontend frameworks I decided to learn in 2015 as part of my development workflow. I am currently familiarising myself with the latest release (Angular4) and am enjoying the challenge.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
        <li class="col-xs-12 col-md-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/node-icon.png" srcset="../../../assets/imgs/icons/node-icon.png 1x, ../../../assets/imgs/icons/node-icon@2x.png 2x, ../../../assets/imgs/icons/node-icon@3x.png 3x" alt="NodeJS skills" class="skill-icn">
          <h3>NodeJS</h3>
          <!--<p>First introduced to the backend JavaScript framework in 2015, NodeJS has become an integral part of my development environment and has provided exposure to a whole new eco-system of JavaScript libraries and development process - developing in an API first approach.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
        <li class="col-xs-12 col-sm-2 text-center font-light mb-5">
          <img src="../../../assets/imgs/icons/design-icon.png" srcset="../../../assets/imgs/icons/design-icon.png 1x, ../../../assets/imgs/icons/design-icon@2x.png 2x, ../../../assets/imgs/icons/design-icon@3x.png 3x" alt="Design skills" class="skill-icn">
          <h3>Design</h3>
          <!--<p>Fluent with the Adobe application stack including Photoshop, Illustrator, inDesign and prototyping with applications such as inVison. Greater understanding, knowledge and importance of the design process, design principles and application of them in all aspects of my work.</p>
          <span class="content-border border-char border-right"></span>-->
        </li>
      </ul>
    </div>
  </div>
  <!-- END: My skills section -->

  <!-- Experience -->
  <div class="section pad-35 black col-sm-12">
    <div class="text-white font-light font-italic font-2"> ~ Work experience.</div>
    <div class="container">
      <div class="row">
        <ul class="col-xs-12 col-sm-6 my-auto">
          <li class="text-white font-light list">UX / Digital Designer @ The Warehouse Group<br><span class="font-italic font-light">currently</span></li>
          <li class="text-white font-light list">Frontend Developer & Team trainer @ The Warehouse<br><span class="font-italic font-light">Jul - Nov 2016</span></li>
          <li class="text-white font-light list">Webstore Specialist / Frontend Developer @ Warehouse Stationery<br><span class="font-italic font-light">Nov 2014 - Jul 2016</span></li>
          <li class="text-white font-light list">Frontend Developer @ Kiteflyr<br><span class="font-italic font-light">Jul - Nov 2014 </span></li>
        </ul>
        <div class="col-sx-12 col-sm-6 my-auto logo-container" id="logo">
          <img src="../../../assets/imgs/logos/twg-logo.png" srcset="../../../assets/imgs/logos/twg-logo.png 1x, ../../../assets/imgs/logos/twg-logo@2x.png 2x, ../../../assets/imgs/logos/twg-logo@3x.png 3x" alt="The Warehouse Group" title="The Warehouse Group" class="company-logo">
          <img src="../../../assets/imgs/logos/twl-cheron.png" srcset="../../../assets/imgs/logos/twl-cheron.png 1x, ../../../assets/imgs/logos/twl-cheron@2x.png 2x, ../../../assets/imgs/logos/twl-cheron@3x.png 3x" alt="The Warehouse" title="The Warehouse" class="company-logo">
          <img src="../../../assets/imgs/logos/wsl-logo.png" srcset="../../../assets/imgs/logos/wsl-logo.png 1x, ../../../assets/imgs/logos/wsl-logo@2x.png 2x, ../../../assets/imgs/logos/wsl-logo@3x.png 3x" alt="Warehouse Stationery" title="Warehouse Stationery" class="company-logo">
          <img src="../../../assets/imgs/logos/kiteflyr-logo.png" srcset="../../../assets/imgs/logos/kiteflyr-logo.png 1x, ../../../assets/imgs/logos/kiteflyr-logo@2x.png 2x, ../../../assets/imgs/logos/kiteflyr-logo@3x.png 3x" alt="Kiteflyr" title="Kiteflyr" class="company-logo">
        </div>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="section p-5 charcoal col-sm-12 col-md-6">
      <div class="text-white font-light font-italic font-2 text-indent-15"> ~ Recommendation.</div>
      <div class="container text-white font-light mar-top-25">
        <span class="content-border border-white"></span><!-- Paragraph text top border -->
        <p>I am the Head of the Web and Interactive Department at Natcoll. I worked with Zaine Kingi for 10 months as his tutor for the Diploma of Web Development program. Zaine demonstrated great commitment and talent during his course.</p>
        <p>Zaine is an independent learner, who works well both on his own and as a team member. He is able to assimilate many new skills and concepts very quickly. The high standards of his projects and excellent attention to detail are very good proof of his skills.</p>
        <p>Zaine has very strong work ethic. He has demonstrated great commitment to his tasks and the people around him. Zaine is friendily and approachable, which makes him a pleasure to work with.</p>
        <div class="credits text-yellow"><span class="text-right font-light font-italic">Trung Ly - Head of Web and Interactive Department<br>Yoobee School of Design</span></div>
      </div>
    </div>
    <div class="section p-5 col-sm-12 col-md-6">
      <div class="font-light font-italic font-2 text-indent-15"> ~ Recommendation.</div>
      <div class="container text-char font-light mar-top-25">
        <span class="content-border border-char"></span><!-- Paragraph text top border -->
        <p>I am writting to support Zaine in this reference letter though deeply saddened to have him leave us. I would like to support Zaine as best I can, because of who he is as a person and what he has contributed.</p>
        <p>Zaine has been with Natcoll since 2010, a student of my Computer Graphic Design class. Zaine made a very positive contribution to the programme. He is talented and serious about his work, he will be a great contribution to any positive work environment.</p>
        <p>It is with regret that he will leave us but I would be open to support and recommend him to any company or institution considering his application. He was a valuable asset to Natcoll throughout his time here. Zaine will be sincerely missed.</p>
        <div class="credits"><span class="text-right font-light font-italic">Ivan Voo - Computer Graphic Design Tutor<br>Yoobee School of Design</span></div>
      </div>
    </div>
  </div>

</div><!-- /.main-container -->
