<div class="main-container">

  <!-- Large image -->
  <div class="hero-img-container rose-img-bg parallax" [style.height]="height + 'px'">
    <span class="img-overlay" [style.height]="height + 'px'">
      <div class="hero-text text-center text-v-middle text-h-middle pad-35">
        <h1 class="text-white">
         Zaine Kingi.
        </h1>
        <hr class="hr">
        <div class="font-light font-2 line-2-5 text-white mar-top-25">A digital designer based in Auckland New Zealand with a solid foundation in HTML, CSS, JavaScript and a keen eye for detail and creating unique and engaging experiences.</div>
        <div class="text-center mar-top-25"><i class="glyphicon glyphicon-menu-down scroll-y" id="dwnBtn"></i></div>
      </div><!-- END: Hero text -->
    </span>
  </div><!-- END: Hero image -->

  <!-- My skills section -->
  <div class="section col-sm-12">
    <div class="section-heading"><h2>What I do</h2></div>
    <ul class="container">
      <li class="skill-item col-sm-12 col-md-4">
        <img src="../../../assets/imgs/icons/collaboration.png" srcset="../../../assets/imgs/icons/collaboration.png 1x, ../../../assets/imgs/icons/collaboration@2x.png 2x, ../../../assets/imgs/icons/collaboration@3x.png 3x" alt="Collaboration/Agile" class="skill-icn">
        <h3>Collaborate</h3>
        <p>Working in an Agile environment, collaboration within small SCRUM teams is something I practice on a daily basis and feel is a valuable skill to posses which is best obtained from experience.</p>
        <span class="content-border border-char border-right"></span>
      </li>
      <li class="skill-item col-sm-12 col-md-4">
        <img src="../../../assets/imgs/icons/design-icon.png" srcset="../../../assets/imgs/icons/design-icon.png 1x, ../../../assets/imgs/icons/design-icon@2x.png 2x, ../../../assets/imgs/icons/design-icon@3x.png 3x" alt="Design" class="skill-icn">
        <h3>Design</h3>
        <p>Creating experiences that are meaningful and engaging yet reducing complexity for the end users is the approach I take every time I attempt to design or solve a problem with design. It helps keep the user at the forefront of all my design decisions and ensures the end result has a positive impact on viewer or end user.</p>
        <span class="content-border border-char border-right"></span>
      </li>
      <li class="skill-item col-sm-12 col-md-4">
        <img src="../../../assets/imgs/icons/code-icon.png" srcset="../../../assets/imgs/icons/code-icon.png 1x, ../../../assets/imgs/icons/code-icon@2x.png 2x, ../../../assets/imgs/icons/code-icon@3x.png 3x" alt="Development" class="skill-icn">
        <h3>Code</h3>
        <p>I enjoyed the versatility and accessibility of working with the web, the fast paced and ever changing nature of the internet and the variety of tools available. I have the ability to pick up and learn new skills, concepts and programming languages fairly well, and am able to incorprate these skills into all aspects of my work, not just Web.</p>
        <span class="content-border border-char border-right"></span>
      </li>
    </ul><!-- /.skills -->
  </div>
</div><!-- /.main-container -->
