/* Main content styling */

.content-text {
  display: block;
  width: 60%;
}

.preview {
  position: relative;
  z-index: -15;
  height: 350px;
  margin-top: -125px;
}

.skill-item {
  width: 60%;
  margin: 25px auto 50px;
  text-align: center;
}

.skill-item img {
  height: 100px;
}

.skill-item p {
  margin: 0;
}



/* Meida queries - 768px up */
@media screen and (min-width: 768px) {
  .preview {
    height: 500px;
  }
  .skill-item {
    width: 25%;
    margin-left: 7%;
    float: left;
  }
}

/* Media query - 988px up */
@media screen and (min-width: 988px) {

}


