<div class="main-container">
  <div class="top-section col-sm-12 black">
    <div class="heading font-light text-yellow font-italic">Contact me.</div>
  </div><!-- /.top-section -->

  <!-- Contact form -->
  <div class="section charcoal overlay-25 col-sm-12 col-md-8 col-md-push-4">
    <form id="contact-form" (ngSubmit)="checkForm()" novalidate>

      <div class="form-group" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched), 'has-success': name.valid && (name.dirty || name.touched)}">
        <label for="name" class="text-white font-light">Name</label>
        <input type="text" name="name" required minlength="5" maxlength="25" id="name" class="form-control" [(ngModel)]="name">

        <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
          <p *ngIf="name.errors.required">Name is required</p>
        </div>

        <!--
          <pre>Valid? {{ contactForm.controls.name.valid }}</pre>
          <pre>Dirty? {{ contactForm.controls.name.dirty }}</pre>
        -->
      </div><!-- / Name -->

      <div class="form-group" [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
        <label for="email" class="text-white font-light">Email</label>
        <input type="text" name="email" required id="email" class="form-control" [(ngModel)]="email">

        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
          <p *ngIf="email.errors.required">Email is required</p>
          <p *ngIf="email.errors.pattern">Please enter a valid email</p>
        </div>

        <!--
          <pre>Valid? {{ contactForm.controls.email.valid }}</pre>
          <pre>Dirty? {{ contactForm.controls.email.dirty }}</pre>
        -->
      </div><!-- / Email -->

      <div class="form-group" [ngClass]="{'has-danger': message.invalid && (message.dirty || message.touched), 'has-success': message.valid && (message.dirty || message.touched)}">
        <label for="message" class="text-white font-light">Message</label>
        <textarea name="message" id="message" required cols="30" rows="1" class="form-control" [(ngModel)]="message"></textarea>
        <div class="form-control-feedback" *ngIf="message.errors && (message.dirty || message.touched)">
          <p *ngIf="message.errors.required">Message is required</p>
        </div>

        <!--
          <pre>Valid? {{ contactForm.controls.message.valid }}</pre>
          <pre>Dirty? {{ contactForm.controls.message.dirty }}</pre>
        -->
      </div><!-- / Message -->

      <button class="zk-btn zk-btn-prim-inverse" type="submit">Get in touch</button>
    </form>
    <!--<pre>{{contactForm.value | json}}</pre>-->
  </div>

  <!-- Map -->
  <!--<div id="map" class="clear" [style.top] = "height/2 + 'px'"></div> 78wym-mpw8y-tpy7n-jdkf9-66jxv -->

  <!-- More details -->
  <div class="section col-sm-12 col-md-8 col-md-push-4 pad-35">
    <!-- Office location -->
    <div class="col-sm-12 col-md-6 text-center">
      <img src="../../../assets/imgs/icons/location-icon.png" srcset="../../../assets/imgs/icons/location-icon.png 1x, ../../../assets/imgs/icons/location-icon@2x.png 2x, ../../../assets/imgs/icons/location-icon@3x.png 3x" alt="Office location" class="icon">
      <h2>Office.</h2>
      <p>
        26 The Warehouse Way,<br>
        Northcote,<br>
        Auckland, 0629<br>
        New Zealand
      </p>
    </div><!-- END: office details -->

    <!-- Phone numbers -->
    <div class="col-sm-12 col-md-6 text-center">
      <img src="../../../assets/imgs/icons/phone-icon.png" srcset="../../../assets/imgs/icons/phone-icon.png 1x, ../../../assets/imgs/icons/phone-icon@2x.png 2x, ../../../assets/imgs/icons/phone-icon@3x.png 3x" alt="Contact phone numbers" class="icon">
      <h2>Drop us a line.</h2>
      <p>
        Office - +649 489-8900 ext. 96677<br>
        Mobile - +6421-897337<br>
      </p>
    </div><!-- END: office details -->

  </div><!-- END: more details section. -->
</div><!-- /.main-container -->


<script type="text/javascript">
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<!-- Google Maps API -->
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=js?key=AIzaSyBWXNxa3yaYwz3DLJDLVkGvg1fuYGT1F7Q&callback=initMap"></script>-->
