<div class="main-container">

  <div class="section">
    <div class="col-sm-12 col-md-6 mar-top-100">
      <div class="heading font-light font-italic"><h1>School List Management Prototype</h1></div>
      <div class="wrk-title font-2-5 font-light mar-top-50">Problem</div>
      <p class="mar-top-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <span class="content-border border-char border-right"></span>
    </div><!-- END: text container -->

    <div class="col-sm-12 col-md-6 img-container text-center">
      <img src="../../../assets/imgs/work/school-list/school-list.png" srcset="../../../assets/imgs/work/school-list/school-list.png 1x, ../../../assets/imgs/work/school-list/school-list@2x.png 2x, ../../../assets/imgs/work/school-list/school-list@3x.png 3x" alt="Warehouse Stationery School list management prototype.">
    </div><!-- /.img-container -->
  </div><!-- /.problem -->

  <!-- Work component - black -->
  <div class="wrk-component col-sm-12 users-bg parallax">
    <span class="img-overlay">
      <div class="wrk-text col-sm-12 col-md-6 text-white">
        <div class="wrk-title font-2-5 font-light">The Users</div>
        <p class="mar-top-10">Timber Construction Solutions often competes with businesses local and internationally for private and public building and housing project contracts in countries all around the world. The majority of the clients users are often from a corporate and/or government agency who use the website to gain insights into the company and aid in assessing their credibility and capabilities.</p>
        <span class="content-border border-white border-right"></span>
      </div><!-- END: text container -->
    </span><!-- /.img-overlay -->
  </div><!-- END: Work component - background image -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12 black">
    <div class="wrk-text text-white col-sm-12 col-md-6">
      <div class="wrk-title font-2-5 font-light">Process</div>
      <p class="mar-top-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <span class="content-border border-white border-right"></span>
    </div><!-- END: text-container -->

    <div class="col-sm-12 col-md-6 img-container text-center">
      <img src="../../../assets/imgs/wireframes-min.jpg" srcset="../../../assets/imgs/wireframes-min.jpg 1x, ../../../assets/imgs/wireframes@2x-min.jpg 2x, ../../../assets/imgs/wireframes@3x-min.jpg 3x" alt="Website wireframes and prototyping.">
    </div><!-- /.img-container -->
  </div><!-- END: Work component -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12">
    <div class="col-sm-12 col-md-6 img-container text-center">
      <div id="slider">
        <img src="../../../assets/imgs/work/tcs/tcs-homepage.jpg" srcset="../../../assets/imgs/work/tcs/tcs-homepage.jpg 1x, ../../../assets/imgs/work/tcs/tcs-homepage@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-homepage@3x.jpg 3x" alt="Timber Construction Solutions website design.">
        <img src="../../../assets/imgs/work/tcs/tcs-design.jpg" srcset="../../../assets/imgs/work/tcs/tcs-design.jpg 1x, ../../../assets/imgs/work/tcs/tcs-design@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-design@3x.jpg 3x" alt="Timber Construction Solution Design process.">
        <img src="../../../assets/imgs/work/tcs/tcs-homepage.jpg" srcset="../../../assets/imgs/work/tcs/tcs-homepage.jpg 1x, ../../../assets/imgs/work/tcs/tcs-homepage@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-homepage@3x.jpg 3x" alt="Timber Construction Solutions website design.">
        <img src="../../../assets/imgs/work/school-list/school-list.png" srcset="../../../assets/imgs/work/school-list/school-list.png 1x, ../../../assets/imgs/work/school-list/school-list@2x.png 2x, ../../../assets/imgs/work/school-list/school-list@3x.png 3x" alt="School list management prototype">
        <img src="../../../assets/imgs/work/tcs/tcs-homepage.jpg" srcset="../../../assets/imgs/work/tcs/tcs-homepage.jpg 1x, ../../../assets/imgs/work/tcs/tcs-homepage@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-homepage@3x.jpg 3x" alt="Timber Construction Solutions website design.">
      </div><!-- /#silder -->
    </div><!-- /.img-container -->

    <div class="wrk-text col-sm-12 col-md-6">
      <div class="wrk-title font-2-5 font-light">Solution</div>
      <p class="mar-top-10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
      <span class="content-border border-char border-right"></span>
    </div><!-- END: text-container -->

  </div><!-- END: Work component -->

</div><!-- /.main-container -->
