<div class="main-container">

  <div class="section">
    <div class="row d-flex align-items-end">
      <div class="col-sm-12 col-md-6 mar-top-100 px-5">
        <div class="heading font-light font-italic"><h1>School List Management Prototype</h1></div>
        <div class="wrk-title font-2-5 font-light mar-top-50">Problem</div>
        <p class="mar-top-10">The Back to School period is one of the largest and most competitive campaigns on the calendar for Warehouse Stationery, and being the number one destination for customers and growing our market share.</p>
        <p>School lists are a key feature and major incentive in getting customers to shop with us, providing the convenience of being able to purchase all their children's stationery requirements with the click of a button.</p>
        <p>Management of the school lists and ensuring we are providing accurate lists is becoming a challenge, resulting in the exploration of a platform for easy management of school lists.</p>
        <span class="content-border border-char border-right"></span>
      </div><!-- END: text container -->

      <div class="col-sm-12 col-md-6 text-center img-container">
        <img src="../../../assets/imgs/work/school-list/school-list.png" srcset="../../../assets/imgs/work/school-list/school-list.png 1x, ../../../assets/imgs/work/school-list/school-list@2x.png 2x, ../../../assets/imgs/work/school-list/school-list@3x.png 3x" alt="Warehouse Stationery School list management prototype.">
      </div><!-- /.img-container -->
    </div><!-- /.row -->
  </div><!-- /.problem -->

  <!-- Work component - black -->
  <div class="wrk-component col-sm-12 users-bg parallax">
    <span class="img-overlay">
      <div class="row">
        <div class="wrk-text col-sm-12 col-md-6 text-white my-auto px-5">
          <div class="wrk-title font-2-5 font-light">The Users</div>
          <p class="mar-top-10">The main user of this platform are school teachers, admin staff and Warehouse Stationery eCommerce team members. There could potentially be scope for parents and public to provide information as well, but at the early stages of exploration the scope was narrowed to just schools and Warehouse Stationery staff members.</p>
          <span class="content-border border-white border-right"></span>
        </div><!-- END: text container -->
      </div><!-- /.row -->
    </span><!-- /.img-overlay -->
  </div><!-- END: Work component - background image -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12 black">
    <div class="row">
      <div class="wrk-text text-white col-sm-12 col-md-6 my-auto px-5">
        <div class="wrk-title font-2-5 font-light">Process</div>
        <p class="mar-top-10">An analysis was conducted to understand the business requirements and processes around the school list functionality, identifying points of friction for the business and potential issue for the user.</p>
        <p>Insights gained from this analysis helped in determining the outlook for this project, providing requirements, specifications and scope, as well as recommendations on the user experience which provided a sound foundation to base our designs on.</p>
        <span class="content-border border-white border-right"></span>
      </div><!-- END: text-container -->

      <div class="col-sm-12 col-md-6 img-container text-center my-auto">
        <img src="../../../assets/imgs/wireframes-min.jpg" srcset="../../../assets/imgs/wireframes-min.jpg 1x, ../../../assets/imgs/wireframes@2x-min.jpg 2x, ../../../assets/imgs/wireframes@3x-min.jpg 3x" alt="Website wireframes and prototyping.">
      </div><!-- /.img-container -->
    </div><!-- /.row -->
  </div><!-- END: Work component -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12">
    <div class="row">
      <div class="col-sm-12 col-md-6 img-container text-center pt-5">
        <img src="../../../assets/imgs/work/school-list/school-list-prototype.gif" alt="School list prototype">
      </div><!-- /.img-container -->

      <div class="wrk-text col-sm-12 col-md-6 my-auto p-5 pr-md-5 p-md-0 pt-md-5">
        <div class="wrk-title font-2-5 font-light">Solution</div>
        <p class="mar-top-10">The final design provides the user with a secure application to manage their schools lists, profiles and user information. Admin user accounts are able to add and remove users from the school account and have the ability to publish and un-publish their school lists.</p>
        <p>The design approach taken was to keep it as simple and clean as possible while keeping a strong tie with the Warehouse Stationery brand.</p>
        <span class="content-border border-char border-right"></span>
      </div><!-- END: text-container -->
    </div><!-- /.row -->


  </div><!-- END: Work component -->

</div><!-- /.main-container -->
