<div class="main-container">

  <div class="section">
    <div class="row">
      <div class="col-sm-12 col-md-6 mar-top-100 px-5">
        <div class="heading font-light font-italic"><h1>Timber Construction Solutions</h1></div>
        <ul>
          <li><span class="font-bold">Technical stack:</span></li>
          <li class="list">HTML</li>
          <li class="list">CSS</li>
          <li class="list">JavaScript</li>
          <li class="list">PHP</li>
          <li class="list">Photoshop</li>
        </ul>
        <div class="wrk-title font-2-5 font-light mar-top-50">Problem</div>
        <p class="mar-top-10">To tell their story better through their website. The current website promotes their services and portfolio of projects completed in the past, however it lacks the ability to illustrate the companies business model, key values and the positive impact it's business model has on all the communities it is involved in.</p>
        <span class="content-border border-char border-right"></span>
      </div><!-- END: text container -->

      <div class="col-sm-12 col-md-6 img-container text-center my-auto">
        <img src="../../../assets/imgs/work/tcs/tcs-homepage.jpg" srcset="../../../assets/imgs/work/tcs/tcs-homepage.jpg 1x, ../../../assets/imgs/work/tcs/tcs-homepage@2x.jpg 2x, ../../../assets/imgs/work/tcs/tcs-homepage@3x.jpg 3x" alt="Timber Construction Solutions website design.">
      </div><!-- /.img-container -->
    </div><!-- /.row -->
  </div><!-- /.section -->

  <!-- Work component - background image -->
  <div class="wrk-component col-sm-12 users-bg parallax">
    <span class="img-overlay">
      <div class="row">
        <div class="wrk-text col-sm-12 col-md-6 text-white my-auto px-5">
          <div class="wrk-title font-2-5 font-light">The Users</div>
          <p class="mar-top-10">Timber Construction Solutions often competes with businesses local and internationally for private and public building and housing project contracts in countries all around the world. The majority of the clients users are often from a corporate and/or government agency who use the website to gain insights into the company and aid in assessing their credibility and capabilities.</p>
          <span class="content-border border-white border-right"></span>
        </div><!-- END: text container -->
      </div><!-- /.row -->
    </span><!-- /.img-overlay -->
  </div><!-- END: Work component - background image -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12">
    <div class="row">
      <div class="wrk-text col-sm-12 col-md-6 my-auto px-5">
        <div class="wrk-title font-2-5 font-light">Process</div>
        <p class="mar-top-10">Before any design work was undertaken, 2 weeks were set aside to understanding and familiarising myself with the company, their background, users and business model. Building a strong sense of understanding about the business and their users helped in providing insights into how I could tell their story through the website, while enabling the user to quickly access information easily.</p>
        <p>During the initial design process, a number of solutions were explored through sketches and wireframes including user journey mapping and interactions. Because of the nature and duration of this project I was unable to perform any in depth user testing and analysis to validate my design decisions.</p>
        <span class="content-border border-char border-right"></span>
      </div><!-- END: text-container -->

      <div class="col-sm-12 col-md-6 img-container text-center my-auto">
        <img src="../../../assets/imgs/wireframes-min.jpg" srcset="../../../assets/imgs/wireframes-min.jpg 1x, ../../../assets/imgs/wireframes@2x-min.jpg 2x, ../../../assets/imgs/wireframes@3x-min.jpg 3x" alt="Website wireframes and prototyping.">
      </div><!-- /.img-container -->
    </div><!-- /.row -->
  </div><!-- END: Work component -->

  <!-- Work component -->
  <div class="wrk-component col-sm-12 black">
    <div class="row">
      <div class="wrk-text col-sm-12 col-md-6 text-white my-auto px-5">
        <div class="wrk-title font-2-5 font-light">Solution</div>
        <p class="mar-top-10">The approach taken featured a large graphic navigation on the homepage using the 4 main stages of the building process, bringing the business model of the company to the forefront of the users experience.</p>
        <p>Each section of the process contains a sub-navigation section with links highlighting the steps and processes of each section. The user can then navigate between each step of the building process using the left and right paddle controls and back to the homepage via the company logo or clicking on home in the breadcrumbs.</p>
        <span class="content-border border-white border-right"></span>
      </div><!-- END: text-container -->

      <div class="col-sm-12 col-md-6 img-container text-center">
        <img src="../../../assets/imgs/work/tcs/tcs-prototype-laptop.gif" alt="Timber Construction Solution Prototype">
      </div><!-- /.img-container -->
    </div><!-- /.row -->
  </div><!-- END: Work component -->

</div><!-- /.main-container -->
