<footer>
  <span>
    <a href=""><img src="../../../assets/imgs/icons/linkedin-icon.png" srcset="../../../assets/imgs/icons/linkedin-icon.png 1x, ../../../assets/imgs/icons/linkedin-icon@2x.png 2x, ../../../assets/imgs/icons/linkedin-icon@3x.png 3x" alt="LinkedIn"></a>
    <a href=""><img src="../../../assets/imgs/icons/fb-icon.png" srcset="../../../assets/imgs/icons/fb-icon.png 1x, ../../../assets/imgs/icons/fb-icon@2x.png 2x, ../../../assets/imgs/icons/fb-icon@3x.png 3x" alt="facebook"></a>
    <a href=""><img src="../../../assets/imgs/icons/twitter-icon.png" srcset="../../../assets/imgs/icons/twitter-icon.png 1x, ../../../assets/imgs/icons/twitter-icon@2x.png 2x, ../../../assets/imgs/icons/twitter-icon@3x.png 3x" alt="twitter"></a>
    <a href=""><img src="../../../assets/imgs/icons/pintrest-icon.png" srcset="../../../assets/imgs/icons/pintrest-icon.png 1x, ../../../assets/imgs/icons/pintrest-icon@2x.png 2x, ../../../assets/imgs/icons/pintrest-icon@3x.png 3x" alt="pintrest"></a>
  </span>

  <div>&copy; Zaine Kingi 2017</div>
</footer>
