footer {
  display: block;
  border-top: 1px solid #1e1e1e;
  width: 100%;
  margin: 50px 0 0;
  padding: 15px 0;
  text-align: center;
  color: #1e1e1e;
}
footer span {
  width: 70%;
  margin: 30px auto 15px;
}
footer span a {
  margin-right: 15%;
}
footer span a:nth-of-type(4) {
  margin-right: 0;
}
footer img {
  height: 25px;
}
footer div {
  margin-top: 15px;
}

