<footer>
  <span>
    <a href="https://www.linkedin.com/in/zainekingi/" target="_new" rel="nofollow noreferrer"><img src="../../../assets/imgs/icons/linkedin-icon.png" srcset="../../../assets/imgs/icons/linkedin-icon.png 1x, ../../../assets/imgs/icons/linkedin-icon@2x.png 2x, ../../../assets/imgs/icons/linkedin-icon@3x.png 3x" alt="LinkedIn"></a>
    <a href="https://www.instagram.com/zainekingi/" target="_new" rel="nofollow noreferrer"><img src="../../../assets/imgs/icons/insta-icon.png" srcset="../../../assets/imgs/icons/insta-icon.png 1x, ../../../assets/imgs/icons/insta-icon@2x.png 2x, ../../../assets/imgs/icons/insta-icon@3x.png 3x" alt="Instagram"></a>
    <a href="https://twitter.com/zainekingi" target="_new" rel="nofollow noreferrer"><img src="../../../assets/imgs/icons/twitter-icon.png" srcset="../../../assets/imgs/icons/twitter-icon.png 1x, ../../../assets/imgs/icons/twitter-icon@2x.png 2x, ../../../assets/imgs/icons/twitter-icon@3x.png 3x" alt="Twitter"></a>
    <a href="https://nz.pinterest.com/rous6026nz/" target="_new" rel="nofollow noreferrer"><img src="../../../assets/imgs/icons/pintrest-icon.png" srcset="../../../assets/imgs/icons/pintrest-icon.png 1x, ../../../assets/imgs/icons/pintrest-icon@2x.png 2x, ../../../assets/imgs/icons/pintrest-icon@3x.png 3x" alt="Pintrest"></a>
  </span>

  <div>&copy; Zaine Kingi 2017</div>
</footer>
